.chat-history {
    display: flex;
    flex-direction: column;

    .chat {
        padding: 6px 10px;
        transition: 150ms;
        cursor: pointer;

        &:hover {
            background: rgba(255, 255, 255, .05);
        }

        h3 {
            font-family: "Poppins", sans-serif;
            font-weight: 500;
            font-size: 14px;
        }
    }
}